.dart_tool/
.idea/
.pub/
build/
coverage/
dist/
*.iml
*.log
.DS_Store
pubspec.lock
example/.dart_tool/
example/build/
example/android/local.properties
example/android/key.properties
**/*.jks
**/*.keystore
